[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io

[Service]
Environment="PATH={{ bin_dir }}:/bin:/sbin:/usr/bin:/usr/sbin"
Environment="HTTPS_PROXY=http://192.168.33.125:8888/ NO_PROXY=localhost,127.0.0.1,192.168.33.124"
Environment="HTTP_PROXY=http://192.168.33.125:8888/ NO_PROXY=localhost,127.0.0.1,192.168.33.124"
ExecStart={{ bin_dir }}/dockerd 
ExecStartPost=/sbin/iptables -I FORWARD -s 0.0.0.0/0 -j ACCEPT
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
